---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";

---
<Layout
  title="Sobre mí."
  description="Hola Soy Jenitzin, me apasiona hablar de cine "
>
  <SectionContainer class="py-44 pb-32 text-gray-800">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-4xl font-bold text-center">Blog</h1>
    </div>
    <ul>
      <li><a href="/posts/post-1/">Publicación 1</a></li>
    </ul>
  </SectionContainer>
</Layout>