---
import Layout from '../layouts/Layout.astro';
import SectionContainer from "../components/SectionContainer.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');

---

<Layout title={"Jenitzin."} description="Hola Soy Jenitzin, me apasiona hablar de cine ">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<h1 class="text-gray-800 text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-4">
				Hola, Soy Jenitzin
				<span class="text-violet-300">👋</span>
			</h1>
			<p class="text-gray-900 text-lg md:text-xl lg:text-2xl">
				Me apasiona hablar de cine, series y libros. Aquí encontrarás mis reseñas y recomendaciones.
			</p>
		</SectionContainer>
		<SectionContainer class="text-gray-800 px-8">
			<div class="flex flex-col items-center justify-center">
				<h2 class="text-2xl font-bold text-center">Mis últimas Reseñas</h>
			</div>
			<ul class="border-[1px] px-4 py-8 rounded-lg mt-12">
				{
					allPosts.map((post) => (
						<BlogPost
							url={post.url}
							title={post.frontmatter.title}
							author={post.frontmatter.author}
							pubDate={new Date(post.frontmatter.pubDate).toLocaleDateString(
								"es-ES",
								{
									year: "numeric",
									month: "long",
									day: "numeric",
								}
							)}
							description={post.frontmatter.description}
						/>
					))
				}
			</ul>
		</SectionContainer>
	</main>
</Layout>

