---
import Layout from '../layouts/Layout.astro';
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout title="Jenitzin." description="Hola Soy Jenitzin, me apasiona hablar de cine ">
	<main>
		<SectionContainer class="py-44 pb-32">
			<p class="text-gray-900 text-center">
				¡Hola! Soy Jenitzin, me apasiona hablar de cine, series, libros y música. 
				En este espacio encontrarás reseñas, recomendaciones y opiniones sobre todo lo que me gusta. 
				Espero que disfrutes de este espacio tanto como yo disfruto escribiendo para ti.
			</p>
		</SectionContainer>
	</main>
</Layout>

