---
import Layout from '../layouts/Layout.astro';
import SectionContainer from "../components/SectionContainer.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');

---

<Layout title={"Jenitzin."} description="Hola Soy Jenitzin, me apasiona hablar de cine ">
	<main>
		<SectionContainer class="py-44 pb-32">
			<p class="text-gray-900 text-center">
				¡Hola! Soy Jenitzin, me apasiona hablar de cine, series, libros y música. 
				En este espacio encontrarás reseñas, recomendaciones y opiniones sobre todo lo que me gusta. 
				Espero que disfrutes de este espacio tanto como yo disfruto escribiendo para ti.
			</p>
		</SectionContainer>
		<SectionContainer>
			<h1 class="text-gray-900">Mis Reseñas</h1>
			<ul class="border-[1px] px-4 py-8 rounded-lg mt-12 text-violet-800">
				{allPosts.map((post) => <li><a class=" px-2 bg-violet-300 rounded-md" href={post.url}>{post.frontmatter.title}</a></li>)}
			</ul>
		</SectionContainer>
	</main>
</Layout>

