---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout
  title="Sobre mí."
  description="Hola Soy Jenitzin, me apasiona hablar de cine "
>
<SectionContainer class="py-44 pb-32 text-gray-800">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold text-center">Sobre Mí</h1>
    <p class="mt-4 text-lg text-center">
      Hola, soy Jenitzin, me apasiona hablar de cine, series, libros y música. 
      Me gusta compartir mis opiniones y recomendaciones con los demás. 
      En este blog encontrarás reseñas, recomendaciones y noticias sobre el mundo del entretenimiento.
  </div>
</SectionContainer>
</Layout>
