---
import Hearder from "@/components/Hearder.astro";
import Footer from "@/components/Footer.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Hola, Soy Jenitzin
    游녦 Me apasiona hablar de cine, series y libros. Aqu칤 encontrar치s mis rese침as y recomendaciones."
    />
    <meta name="viewport" content="width=device-width" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jenitzin-blog.vercel.app/" />
    <meta property="og:title" content="Jenitzin." />
    <meta
      property="og:description"
      content="Hola, Soy Jenitzin游녦 Me apasiona hablar de cine, series y libros. Aqu칤 encontrar치s mis rese침as y recomendaciones."
    />
    <meta
      property="og:image"
      content="https://metatags.io/images/meta-tags.png"
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://jenitzin-blog.vercel.app/" />
    <meta property="twitter:title" content="Jenitzin." />
    <meta
      property="twitter:description"
      content="Hola, Soy Jenitzin游녦 Me apasiona hablar de cine, series y libros. Aqu칤 encontrar치s mis rese침as y recomendaciones."
    />
    <meta
      property="twitter:image"
      content="https://metatags.io/images/meta-tags.png"
    />
    <meta name="robots" content="index,follow" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute top-0 z-[-2] h-screen w-full bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Hearder />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }
  @media (prefers-reduce-motion) {
    html {
      scroll-behavior: auto;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-image);
  }

  ::-webkit-scrollbar-corner {
    background: var(--background-image);
  }
</style>
