---
import Hearder from "@/components/Hearder.astro";
import Footer from "@/components/Footer.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
		<Hearder />
    <slot />
		<Footer/>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background: #050505;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }
  @media (prefers-reduce-motion) {
    html {
      scroll-behavior: auto;
    }
  }
	::-webkit-scrollbar {
		width: 10px;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: grey;
		border: 2px solid transparent;
		background-clip: content-box;
	}

	::-webkit-scrollbar-track {
		background: var(--background-image);
	}

	::-webkit-scrollbar-corner {
		background: var(--background-image);
	}
</style>
